body{
    font-family:'open sans' , sans-serif;
    background: #1E1E2E;
    color: #89FAC4;
    margin: 0;
}
#container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 80%;
    margin: 0 auto;
}

#introducao{
    width: 100%;
}
#dados{
    width: 50%;

}

#inicio{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    font-style: italic;
}
#nome{
    text-align: left;
    padding: 0 60px;
    font-weight: 800;
    font-size: 50px;
}
#cargo{
    text-align: left;
    padding: 0 60px ;

}
#apresentacao{
    
    text-align: left;
    padding: 0 60px;
      
}
#topicos{
   
   padding-top: 30px;
}
.pastinha{
    border-radius: 0 50px 50px 0;
    padding: 0 60px;
    display: flex;
    flex-direction: column;

}
.pastinha:first-child{
    border-radius: 50px 50px 50px 0;
}
.pastinha:last-child{
    border-radius: 0 50px 50px 50px;
}
/*CSS ACADEMICO*/
#pastinha-academico{
    background-color: #1C1B29;
     
}
.caixinha-ensino{
    display:flex;
    margin-bottom: 20px;
    
}
.caixinha1{
    width: 80%;

}
.caixinha-ano{
    width: 20%;
}
.caixinha-ano p{
    font-style: italic;
    text-align: right;
}
.nivel{
    font-weight: 600;
    
}
.instituicao{
    font-weight: 300;
}
/*CSS ATIVIDADES*/
.caixinha1 p{
    margin:0;
}
#setinha{
    text-align: center;
}
.certificados{
    font-style: italic;
    text-align: center;

}
/*CSS CONTATOS*/

.caixa-contatos{
    display:flex;
    padding: 20px 0 0 0;
}
.icone-social svg{
    max-width: 50px;
}


.pai-rede, .pai-contato{
    display:block;
    height: 60px;
    line-height: 60px;
}
.rede , .icone-social{
    
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}
.rede{
    padding: 0 0 0 20px;
}

/*CSS LINGUAGENS*/
.caixinha-linguagem{
    display:flex;
    flex-wrap: wrap;
}
.caixinha-linguagem p{
    width: 33.33%;
}

/*CSS PROJETO*/
.caixa-projeto{
    display: flex;
    padding-bottom: 20px;
}
.nome-projeto{
    font-weight: 700;
}
.descricao{
    font-weight: 300;
    width: 300px;
    
}
.caixinha-site{
    width: 80%;
}
.link{
    width: 20%;
    font-style: italic;
    display: flex;
    align-items: center;
}
.link a{
    text-decoration: none;
    color: #89FAC4;
}




#pastinha-atividades{
    background-color: #171622;
}
#pastinha-contato{
    background-color: #15141F;
}
#pastinha-linguagens{
    background-color: #13121C;
}
.caixinha-linguagem p{
    font-weight: 600;
}
#pastinha-projetos{
    background-color: #111019;
}

/*FECHAMENTO DE PASTAS*/
.pastinha-dados.fechada{
    display:none;

}
.pastinha-dados.aberta{
    display: block;
    
}
.pastinha h2{
    margin: 30px 0;
}

/*PROFILE*/

.profile-pai{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-filho img{
    width: 400px;
    height: auto;
    border-radius: 210px 90px;
    box-shadow: 16px 9px 0px 13px;
}

.pastinha-dados{
    padding-top: 20px;
}
/*ATIVIDADES EXTRA-CURRICULARES*/

.agrupe-certificado a{
    text-decoration: none;
    color: #89FAC4;
}
.certificados{
    padding-bottom: 30px;
}

/*AUTOR*/

.autor{
    background-color: #12102267;    
}
.autor p{
    text-align: center;
    padding: 30px 0;
    margin: 0;
}
.autor p span{
    font-weight: 700;
}

.pastinha.aberto .pastinha-dados{
    display: block;
}
.pastinha.fechado .pastinha-dados{
    display: none;
}