@import url('./css/erode.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{

    --padrao-background-color:#181818;
    --variavel-background-color:#1C1C1C;
    --text-color: #ffffff;
    --ascent-color: #502886;
    --font-padrao: 'Inter' , sans-serif;
    --font-title: 'Erode-Variable';
}
body{
    margin: 0;
    background-color: var(--padrao-background-color);
    font-family: var(--font-padrao);
    
}

.container{
    margin-left: 300px;
}
/*MENU*/
.name-menu p , .cargo-menu p , .agrupe-email p , .agrupe-numero p , .agrupe-idioma p{
    font-family: var(--font-title);
    font-size: 19px;

}
.agrupe-email a, .agrupe-numero a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
}

.pai-menu{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    position:fixed;
    box-sizing: border-box;
    background-color: var(--ascent-color);
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.info-menu{
    padding: 50px;
}
.name-menu p{
    margin: 0;
    font-size: 30px;
}
.cargo-menu p{
    margin: 0;
    font-size: 20px;
}
.idioma p{
    font-family: var(--font-padrao);
    font-size: 20px;
}
.idioma span{
    font-weight: 200;
}
.pai-menu .button-ver-mais{
    margin-top: auto;
    padding: 20px 50px;
    background-color: var(--padrao-background-color);
    text-align: center;
}
.pai-menu .button-ver-mais a svg{
    margin-right: 10px;
}

/*CABEÇALHO*/



.pai-cabecalho{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 0 !important;
}
.info-inicial p{
    margin: 0;
}
.info-inicial .apresentacao{
    font-family: var(--font-title);
    font-size: 60px;
    color: var(--text-color);
    font-weight: 300;
}
.info-inicial .name{
    font-family: var(--font-title);
    font-size: 100px;
    font-weight: 700;
    color: var(--ascent-color);
}

.info-area {
    background-color: var(--ascent-color);
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
}
.info-area p{
    margin: 0;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.info-descricao p{
    color: var(--text-color);
    font-size: 16px;
}

.info-linguagens p{
    color: var(--text-color);
    font-weight: 100;
    opacity: 0.5;
}

.button-ver-mais a{
    text-decoration: none;
}
.button-ver-mais span{
    color: var(--text-color);
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.button-ver-mais svg{
    width: 16px;
}

.cabecalho-imagem{
    position: absolute;
    right: 0;
}
.cabecalho-imagem img{
    height: 660px;
    border-radius: 80px 0 0 80px;

}
/*PAGE-LINGUAGENS*/

.pai-linguagem , .pai-experiencia , .pai-curso{
    background-color: var(--variavel-background-color);
    padding: 20px 0px 20px 0;
}
.info-title{
    color: var(--text-color);
    font-family: var(--font-title);
    font-size: 50px;
    font-weight: 500;
}
.tipos-linguagem{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    width: 100%;

}
.tipo{
    display: flex;
    background-color: #502886;
    padding: 16px;
    border-radius: 9px;
}
.tipo svg{
    width: 50px;
    padding-right: 8px;
}

.info-linguagem{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.info-linguagem p{
    color: var(--text-color);
    margin: 0;
}
.info-linguagem p:first-child{
    font-weight: 600;
}
.info-linguagem p:last-child{
    font-size: 15px;
}


/*PAGE-PROJETOS*/

.projetos{
    display: flex;
}
.agrupe-projetos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.imagem-projeto{
    margin-right: 40px;
    
}

.info-projeto p{
    color: var(--text-color);    
}
.info-projeto p:first-child{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 30px;
}
.info-projeto p:last-child{
    opacity: 0.6;
}

.button-projeto a{
    background-color: var(--ascent-color);
    border-radius: 10px;
    text-decoration: none;
    font-style: italic;
    color: var(--text-color);
    font-size: 14px;
    padding: 6px 17px;
    margin-right: 20px;   
}

.pai-projeto .button-ver-mais{
    display: flex;
    justify-content: center;
}


h3{
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0 30px 0;
}
h4{
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font-title);
    color: var(--text-color);
    margin: 15px 0 15px 0;
}
h5{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
    opacity: 0.5;
    margin: 0;
}
/*EXPERIENCIA*/

/*.linha-vertical{
    height: 150px;
    border-left: 1px solid #ffffff;
    margin-left: 8px;
}*/
.pai-cargo{
    display: flex;
}
.info-experiencia{
    margin-left: 50px;
}
.info-experiencia p{
    font-family: var(--font-title);
    color: var(--text-color);
}
.info-experiencia .cargo{
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
}
.agrupe-cargo{
    display: flex;
    align-items: center;
}
.info-experiencia .agrupe-cargo p{
    font-family: var(--font-padrao);
    font-size: 20px;
    
}
.button{
    margin-left: 30px;
}
.button p{
    margin: 0;
    color: var(--text-color);
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: var(--ascent-color);
    padding: 8px 20px;
    border-radius: 12px;
}
.info-experiencia .atividades-cargo{
    font-weight: 200;
    font-size: 20px;
    font-family: var(--font-padrao);
}

/*FORMAÇÂO*/

.agrupe-formacao{
    display:flex;
    align-items: center;
}
.button{
    display: inline-block;
}


/*CURSOS*/

.agrupe-curso{
    display: flex;
    flex-wrap: wrap;
}
.info-curso{
    margin-right: 200px;
}
.agrupe-inst{
    display: flex;
    align-items: center;
}


.pai-cabecalho , .pai-linguagem , .pai-projeto , .pai-experiencia , .pai-formacao , .pai-curso{
    padding: 50px;
}


/*PAGE_PROGETOS*/

.projetos-page .projetos{
    flex-direction: column;
    width: calc((100% / 3) - 40px);
}
.projetos-page .imagem-projeto{
    margin-right: 0px;
}
.projetos-page .imagem-projeto img{
    width: 100%;
}
.projetos-page .agrupe-projetos{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: initial;
}


/*RESPONSIVE*/


@media (max-width:480px){
    
    .pai-cabecalho , .pai-linguagem , .pai-projeto , .pai-experiencia , .pai-formacao , .pai-curso{
        padding: 0 50px;
    }
    .agrupe-cargo , .agrupe-formacao , .agrupe-inst{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .button{
        margin: 0;
        margin-right: 20px;
    }
    h4{
        font-size: 25px;
    }
    h5{
        font-size: 15px;
    }
    .pai-menu{
        display: none;
    }

    .container{
        margin: 0;
    }
    .info-inicial .apresentacao{
        font-size: 40px;
    }
    .info-inicial .name{
        font-size: 70px;
    }
    .cabecalho-info{
        width: 450px;
        
    }
    .cabecalho-imagem{
        display: none;
    }
    .pai-cabecalho .button-ver-mais svg{
        width: 40px;
    }
    .pai-cabecalho .button-ver-mais span{
        font-size: 17px;
    }
    .tipos-linguagem .tipo{
        width: 100%;
        
    }
    .projetos{
        flex-direction: column;
    }
    .index .imagem-projeto{
        margin: 0;
    }
    .index .imagem-projeto img{
        width: 100%;
    }
    
    .pai-cargo svg{
        display: none;
    }
    .info-experiencia{
        margin: 0;
    }

    .info-curso{
        margin: 0;
    }
    .pai-curso .button-ver-mais span{
        font-style: italic;
    }




    .projetos-page .agrupe-projetos{
        flex-direction: column;

    }
    .projetos-page .projetos{
        width: 100%;
    }
    
}