.pai-cabecalho{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 100px;
    padding-top: 0 !important;
}
.cabecalho-info{
    padding-left: 50px;
}
.info-inicial p{
    margin: 0;
}
.info-inicial .apresentacao{
    font-family:  'Inter' , sans-serif;
    font-size: 60px;
    color: #ffffff;
    font-weight: 300;
}
.info-inicial .name{
    font-family:  'Inter' , sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: #502886;
}

.info-area {
    background-color: #502886;
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
    scale: 1;
}
.info-area:hover{
    scale: 1.025;
    box-shadow: 2px 1px 5px 5px #91919125;
}
.info-area p{
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.info-descricao {
    width: 100%;

}
.info-descricao p{
    color: #ffffff;
    font-size: 16px;
}

.info-linguagens p{
    color:#ffffff;
    font-weight: 100;
    opacity: 0.5;
}

.button-ver-mais a{
    text-decoration: none;
}
.button-ver-mais span{
    color: #ffffff;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.button-ver-mais svg{
    width: 16px;
}

/* .cabecalho-imagem{
    position: absolute;
    right: 0;
} */
.cabecalho-imagem img{
    width: 400px;
    border-radius: 80px 0 0 80px;

}