body{
    margin: 0;
    background-color: #181818;
    font-family:  'Inter' , sans-serif;
    
}

.container{
    margin-left: 300px;
}

.container .pai-linguagem , .container .pai-projeto , .container .pai-experiencia , .container .pai-formacao , .container .pai-curso{
    padding: 50px;
}