/*CURSOS*/

.agrupe-curso{
    display: flex;
    flex-wrap: wrap;
}
.info-curso{
    margin-right: 200px;
}
.agrupe-inst{
    display: flex;
    align-items: center;
}


.pai-cabecalho , .pai-linguagem , .pai-projeto , .pai-experiencia , .pai-formacao , .pai-curso{
    padding: 50px;
}
